/*Having consistent space across all the elements*/
*{
    box-sizing: border-box; /*Included padding and margin in the provided dimensions*/
    padding-left: 0.5em;
    margin : 0.5em;
}


/*Rendering the flags row by row*/
/*http://blog.teamtreehouse.com/using-inline-block-to-display-a-product-grid-view*/
ul li {
    display: inline-block;
    height: 150px;
    width:30%;
    height : 70%;
}

img {
    width: 100%;
    height: auto;
}

.country-heading , .button-holder {
    text-align: center;
}

.button {
    width : 200px;
}

/*CSS FOR Details Page*/

.country-details{
    margin-top : 30%;
}

.country-name {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.country-details {
    margin: auto;
    width: 70%;
}

tr  td{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}