<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head('Countries Using Spring')"></head>
<body>
<header>
<!--
    <div th:replace="layout :: nav"></div>
-->
</header>
<ul>
        <li th:text="${country.countryName}">1</li>
        <li th:text="${country.population}">2</li>
        <li th:text="${country.capitalCity}">3</li>
        <p>Languages are::</p>
        <li th:each="language : ${country.officialLanguages}" th:text="${language}">
            Official Languages
        </li>
    </ul>
    <img th:src="@{'/images/'+ ${country.flagImageName}}" alt="country-flag"/>
</body>
</html>