<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head('Countries Using Spring')"></head>
<body>
<header>
<!--
    <head th:include="layout :: nav"></head>
-->
</header>
<section>
    <ul>
        <li th:each="country : ${countries}">
            <p th:text="${country.countryName}">Dummy</p>

            <!-- Same thing can be achieved in any of the syntax...
                    <img th:attr="src=@{images/{pathVariable}/(pathVariable=${country.flagImageName})}" alt="country-flag"/>
            -->

            <!-- Long form of the third option below
                    <img th:attr="src=@{'images/'+ ${country.flagImageName}}" alt="country-flag"/>
            -->
            <a th:href="@{'details/'+${country.slug}}">
                <img th:src="@{'/images/'+ ${country.flagImageName}}" alt="country-flag"/>
            </a>
        </li>
    </ul>

    l


    <form action="/sort-by-country-name">
        <input type="submit" value="Sort by Country Name"/>
    </form>

    <form action="/sort-by-population">
        <input type="submit" value="Sort by Population"/>
    </form>

</section>
<footer>

</footer>
</body>
</html>