<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head('Countries Using Spring')"></head>
<header>
<!--
    <head th:include="layout :: nav"></head>
-->
</header>
<body>
<section>
    <form action="/search-images">
        <div class="button-holder">
             <input class = "text-box" type="text" name="search-keyword" placeholder="Keyword here, eg:red,yellow"/>
            <input type="submit" class="button" value="Search Images"/>
        </div>
    </form>

    <ul>
        <li th:each="country : ${countries}">
            <div th:text="${country.countryName}" class="country-heading">Dummy</div>


        <!-- Same thing can be achieved in any of the syntax...
                    <img th:attr="src=@{images/{pathVariable}/(pathVariable=${country.flagImageName})}" alt="country-flag"/>
            -->

            <!-- Long form of the third option below
                    <img th:attr="src=@{'images/'+ ${country.flagImageName}}" alt="country-flag"/>
            -->
            <a th:href="@{'details/'+${country.slug}}">
                <img th:src="@{'/images/'+ ${country.flagImageName}}" alt="country-flag"/>
            </a>
        </li>
    </ul>
    <form action="/sort-by-country-name">
        <div class="button-holder">
            <input type="submit" class="button" value="Sort by Country Name"/>
        </div>
    </form>

    <form action="/sort-by-population">
        <div class="button-holder">
            <input type="submit" class="button" value="Sort by Population"/>
        </div>
    </form>

</section>
<footer>

</footer>
</body>
</html>