<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Countries Using Spring</title>
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Noto+Sans:700,400' rel='stylesheet'
          type='text/css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--
        <link rel="stylesheet" href="css/normalize.css"/>
    -->
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
<header>

</header>
<section>
    <!--   <tr th:each="country : ${countries}">
           <td th:text="${country.countryName}">1</td>
           <td th:text="${country.capitalCity}">1</td>
       </tr>-->

    <ul>
        <li th:each="country : ${countries}">


            <p th:text="${country.countryName}">Dummy</p>

            <!-- Same thing can be achieved in any of the syntax...
                    <img th:attr="src=@{images/{pathVariable}/(pathVariable=${country.flagImageName})}" alt="country-flag"/>
            -->

            <!-- Long form of the third option below
                    <img th:attr="src=@{'images/'+ ${country.flagImageName}}" alt="country-flag"/>
            -->
            <a th:href="@{'details/'+${country.slug}}">
                <img th:src="@{'/images/'+ ${country.flagImageName}}" alt="country-flag"/>
            </a>
        </li>
    </ul>

    l


    <form action="/sort-by-country-name">
        <input type="submit" value="Sort by Country Name"/>
    </form>

    <form action="/sort-by-population">
        <input type="submit" value="Sort by Population"/>
    </form>

</section>
<footer>

</footer>
</body>
</html>